@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body {
    min-height: 200vh;
    font-family: sans-serif;
    
  }
  
  a {
    cursor: pointer;
  }
  
  
.facebook:before,
.twitter:before,
.instagram:before,
.linkedin:before,
.youtube:before  {
    background: blue;
    background: linear-gradient(
        45deg,
        rgba(163, 0, 0, 0.7) 0%, 
        rgba(230, 9, 9, 0.3) 49%, 
        rgba(124, 86, 86, 0.5) 50%);
}
.social-media-links {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}
.social-media-link {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 23px;
    position: relative;
    transition: transform 0.5s ease-in-out;
    margin: 0 20px;
}
.social-media-link > i {
    z-index: 1;
}
.social-media-link:before {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    content: "";
    position: absolute;
    background-size: 300%;
    background-position: 0% 0%;
    transition: background-position 0.55s 
            cubic-bezier(0.79, 0.14, 0.15, 0.86);
}
.social-media-link:hover, 
.social-media-link:active, 
.social-media-link:focus {
    transform: translateY(-16px);
    padding-bottom: 32px;
}
.social-media-link:hover:before, 
.social-media-link:active:before, 
.social-media-link:focus:before {
    background-position: top right;
}
.social-media-link + .social-media-link {
    margin-left: 4px;
}

.menu {
    width: 85%;
    float: right;
   
  }
  
  
@media only screen and (min-width : 150px) and (max-width : 780px)
{
	
	.search
	{
		width: 85%;
		margin: 0 auto;
	}

}
 
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

body {
  margin: 0;
  background-image: linear-gradient(to right, #ECE9E6 , #FFFFFF);
}
  
  .main {
    width: 15%;
    height: 700px;
    float: left;
    padding: 10px;
    border: 1px solid rgba(122, 26, 26, 0.986);
  }
  .quotes {
    width: 15%;
    height: 700px;
    padding: 10px;
    float:right;
    
    border: 1px solid red;
  }
  .search input[type=text] {
    margin-top: 20px;
    padding: 10px;
    margin-left: 55px;
    font-size: 1.5vw;
    text-decoration: none;
    border-radius: 20px;
    float: left;
    width: 40%;
    background: #f1f1f1;
  }
  
  .search button {
    float: left;
    width: 3%;
    padding: 10px;
    margin-top: 20px;
    color: black;
    font-size: 1.5vw;
    border-radius: 20px;
    border-left: none;
    cursor: pointer;
  }
  
  .search button:hover {
    background:white;
  }
  
  .search::after {
    content: "";
    clear: both;
    display: table;
  }
  